<div class="card">
    <div class="info">
        <div class="info-header">
            <h4 class="title">{{include.title}}</h4>
            <div class="right-side">
                {{include.time}}
                <br/>
                <a href="{{include.location_url}}">{{include.location}}</a>
            </div>
        </div>
        {{include.description}}
    </div>
</div>
<!-- todo: assume title of block is 2 lines -->
<!-- todo: right align location (hyperlinked to map) below time -->
<!-- todo: align title, time and location between vertical blocks -->
